<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">
            <label for="userName">Enter your Username</label><br />
            <input type="text" class="form-control" name="userName" placeholder="userName"
                   [(ngModel)]="model.userName" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid"> Username is required</div>
        </div><br />

        <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
            <label for="password">Enter your Password</label><br />
            <input type="password" class="form-control" name="password" placeholder="password"
                   [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid">Password is required</div>
        </div><br />

        <div class="form-group" [ngClass]="{'has-error': f.submitted && !confirmPassword.valid}">
            <label for="confirmPassword">Confirm your Password</label><br />
            <input type="password" class="form-control" name="confirmPassword" placeholder="confirm password"
                   [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !confirmPassword.valid">This field is required</div>
        </div><br />

        <div class="form-group">
            <button class="btn btn-primary">Register</button>
        </div>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
</div>
