<div class="col-md-6 col-md-offset-3">
    <h2>Deposit money</h2>
    <form name="form" (ngSubmit)="f.form.valid && deposit()" #f="ngForm" novalidate>

        <div class="form-group" [ngClass]="{'has-error': f.submitted && !sum.valid}">
            <label for="sum">Enter sum</label><br />
            <input type="number" class="form-control" name="sum" placeholder="sum"
                   [(ngModel)]="sum" #sum="ngModel" required />
            <div *ngIf="f.submitted && !sum.valid">incorrect sum</div>
        </div><br />

        <div class="form-group">
            <button type="submit" [disabled]="f.form.invalid" class="btn btn-primary">Login</button>
        </div>

        <div *ngIf="f.submitted" class="alert">{{answer}}</div>
    </form>

    <div>
        <nav>
            <a routerLink="">Back to userpage</a>
        </nav>
    </div>
</div>
